.app-container {
    text-align: center;
  }
  
  .phone-frame {
    width: 25vw; 
    height: 75vh; 
    background-color: #ccc;
    margin: 10vh auto;
  border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .screen{
    width: 95%;
    height: 70%;
    background-color: white;
  }
  li{
    cursor: pointer;
  }
  .speaker{
    width: 6%;
    height: 0.5%;
    background-color: black;
    position: absolute;
    bottom: 78vh;
    right: 48vw;
    opacity:0.6;
  }
  .frontCamera{
    background-color: black;
    position: absolute;
    width:0.4%;
    height:0.8%;
    border-radius: 50%;
    bottom: 77.8vh;
    left: 51.2vw;
  }
  .button{
    background-color: #ccc;
    width: 4%;
    height: 7.8%;
    border-color: rgb(255, 255, 255) ;
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid black;
    top: 83vh;
    cursor: pointer;
  }